<h1>APR Zendesk Data</h1>
<br>
<div>
	<h2>Average Reply Time during Business Hours </h2>
<p> <%= bar_chart ({"Raul" => $raulBusinessHours, "Edgar" => $edgarBusinessHours, "Kevin" => $kevinBusinessHours, "Tamiris" => $tamiBusinessHours})%></p>
</div>
<br>
<div>
	<h2>Median Full Resolution Time during Business Hours </h2>
<p> <%= bar_chart ({"Raul" => $raulFullResoBusinessHours, "Edgar" => $edgarFullResoBusinessHours, "Kevin" => $kevinFullResoBusinessHours, "Tamiris" => $tamiFullResoBusinessHours})%></p>
</div>
<br>
<div>
<h3>Edgar Reply Time Data </h3>
<h5>Average Reply Time by Minutes</h5>
<p> During Business Hours: <b><%= p $edgarBusinessHours %></b></p>
<p> Calendar Hours: <b><%= p $edgarCalendarHours %></b></p>
</div>

<div>
<h3>Edgar Full Resolution Data </h3>
<h5>Median Full Resolution Time by Minutes</h5>
<p> During Business Hours: <b><%= p $edgarFullResoBusinessHours %></b></p>
<p> Calendar Hours: <b><%= p $edgarFullResoCalendarHours %></b></p>
</div>
<hr>



<div>
<h3> Raul Reply Time Data </h3>
<h5>Average Reply Time by Minutes</h5>
<p> During Business Hours: <b><%= p $raulBusinessHours %></b> </p>
<p> Calendar Hours: <b><%= p $raulCalendarHours %></b> </p>
</div>

<div>
<h3>Raul Full Resolution Data </h3>
<h5>Median Full Resolution Time by Minutes</h5>
<p> During Business Hours: <b><%= p $raulFullResoBusinessHours %></b></p>
<p> Calendar Hours: <b><%= p $raulFullResoCalendarHours %></b></p>
</div>
<hr>


<div>
<h3> Kevin Reply Time Data </h3>
<h5>Average Reply Time by Minutes</h5>
<p> During Business Hours: <b><%= p $kevinBusinessHours %></b> </p>
<p> Calendar Hours: <b><%= p $kevinCalendarHours %></b> </p>
</div>

<div>
<h3>Kevin Full Resolution Data </h3>
<h5>Median Full Resolution Time by Minutes</h5>
<p> During Business Hours: <b><%= p $kevinFullResoBusinessHours %></b></p>
<p> Calendar Hours: <b><%= p $kevinFullResoCalendarHours %></b></p>
</div>
<hr>

<div>
<h3> Tamiris Reply Time Data </h3>
<h5>Average Reply Time by Minutes</h5>
<p> During Business Hours: <b><%= p $tamiBusinessHours %></b> </p>
<p> Calendar Hours: <b><%= p $tamiCalendarHours %></b> </p>
</div>

<div>
<h3>Tamiris Full Resolution Data </h3>
<h5>Median Full Resolution Time by Minutes</h5>
<p> During Business Hours: <b><%= p $tamiFullResoBusinessHours %></b></p>
<p> Calendar Hours: <b><%= p $tamiFullResoCalendarHours %></b></p>
</div>
<hr>

 