<h1>APR Zendesk Data</h1>

<div>
<h3>Edgar Reply Time Data </h3>
<h5>Median Reply Time by Minutes</h5>
<p> During Business Hours: <b><%= p $edgarBusinessHours %></b></p>
<p> Calendar Hours: <b><%= p $edgarCalendarHours %></b></p>
</div>

<div>
<h3>Edgar Full Resolution Data </h3>
<h5>Median Full Resolution Time by Minutes</h5>
<p> During Business Hours: <b><%= p $edgarFullResoBusinessHours %></b></p>
<p> Calendar Hours: <b><%= p $edgarFullResoCalendarHours %></b></p>
</div>
<hr>

<div>
<h3> Morgan Reply Time Data </h3>
<h5>Median Reply Time by Minutes</h5>
<p> During Business Hours: <b><%= p $morganBusinessHours %></b></p>
<p> Calendar Hours: <b><%= p $morganCalendarHours %></b></p>
</div>

<div>
<h3>Morgan Full Resolution Data </h3>
<h5>Median Full Resolution Time by Minutes</h5>
<p> During Business Hours: <b><%= p $morganFullResoBusinessHours %></b></p>
<p> Calendar Hours: <b><%= p $morganFullResoCalendarHours %></b></p>
</div>
<hr>
<div>
<h3> Elise Reply Time Data </h3>
<h5>Median Reply Time by Minutes</h5>
<p> During Business Hours: <b><%= p $eliseBusinessHours %></b> </p>
<p> Calendar Hours: <b><%= p $eliseCalendarHours %></b></p>
</div>

<div>
<h3>Elise Full Resolution Data </h3>
<h5>Median Full Resolution Time by Minutes</h5>
<p> During Business Hours: <b><%= p $eliseFullResoBusinessHours %></b></p>
<p> Calendar Hours: <b><%= p $eliseFullResoCalendarHours %></b></p>
</div>
<hr>

<div>
<h3> Raul Reply Time Data </h3>
<h5>Median Reply Time by Minutes</h5>
<p> During Business Hours: <b><%= p $raulBusinessHours %></b> </p>
<p> Calendar Hours: <b><%= p $raulCalendarHours %></b> </p>
</div>

<div>
<h3>Raul Full Resolution Data </h3>
<h5>Median Full Resolution Time by Minutes</h5>
<p> During Business Hours: <b><%= p $raulFullResoBusinessHours %></b></p>
<p> Calendar Hours: <b><%= p $raulFullResoCalendarHours %></b></p>
</div>
<hr>
<h2> Tickets Updated by Day</h2>
<p> <%= line_chart Ticket.recents.group_by_day(:updated_at).count %></p>


<h2>Ticket Status by User</h2>
<p> <%= column_chart Ticket.recents.group(:a_id, :status).count %> </p>

 